body {
    background: #179;
}
h1 {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
marquee {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
p {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
address {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a[href^="tel"] {
    display: block;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
